.movieinfo {
    width: 500px;
    min-height: 400px;
    color: #000;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
    }

    &-descr {
    }
}
