.movieitem {
    cursor: pointer;

    &-poster {
        width: 100%;
        //height: 250px;
        border-radius: 8px;
        overflow: hidden;
        background-color: #1f1f1f;
    }

    &-poster img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    &-descr {
        margin-top: 5px;
        display: flex;
        align-items: center;
        gap: 5px;

        img {
            width: 18px;
        }

        .dot {
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background-color: red;
        }
    }
}

.movieitem.skeleton {
    cursor: default;

    .skeleton-img,
    .skeleton-text {
        background: #313131;
        background: linear-gradient(
            90deg,
            #2c2c2c 25%,
            #3d3d3d 50%,
            #2c2c2c 75%
        );
        background-size: 200% 100%;
        animation: loading 1.5s infinite;
        border-radius: 8px;
    }

    .skeleton-img {
        width: 100%;
        height: 250px;
        margin-bottom: 10px;
    }

    .skeleton-text.title {
        width: 80%;
        height: 20px;
        margin-bottom: 10px;
    }

    .skeleton-text.descr {
        width: 50%;
        height: 15px;
    }
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
